@model IEnumerable<MVC5Course.Models.OrderLine>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
        </tr>
    }
</table>
